/* overwrites and general*/

div, td {
  height: auto !important;
  width: auto !important;
  margin: 0;
  position: static;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
}

table {
  margin: 0 !important;
  width: 100% !important;
  max-width: 100%;
}

td:not(:empty) {
  padding: .75rem;
}

.u1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
}

/* buttons */

input[type=button], input[type=submit], input[type=reset] {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input[type=button], input[type=reset] {
  /* btn-secondary */
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

input[type=button]:hover, input[type=reset]:hover {
  /* btn-secondary */
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

input[type=submit] {
  /* btn-primary */
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

input[type=submit]:hover {
  /* btn-primary */
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

input[onclick^=modul_abmelden] {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

input[onclick^=modul_abmelden]:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

input[onclick^=modul_anmelden] {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

input[onclick^=modul_anmelden]:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

/* inputs */

input[type=text], input[type=password], select {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus, select:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* logo */

.logo {
  margin-bottom: 8px;
  padding: 12px;
  width: 100%;
  height: auto;
  -webkit-border-radius: .25rem;
}

.logo p {
  position: relative;
  margin: 0;
  width: 100%;
  text-align: left !important;
}

.logo p>img {
  width: 90%;
  max-width: 800px;
}

.logo p a img {
  width: 10%;
  max-width: 30px;
  margin: 0;
  padding-top: 0 !important;
  text-align: left !important;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
}

/* login */

.login {
  -webkit-border-radius: .25rem;
  min-height: 0;
  transform: translate(0px, -196px);
}

.login table {
  margin: auto !important;
}

/* menu */

.menu {
  margin-bottom: 8px;
  -webkit-border-radius: .25rem;
}

.menu li {
  margin-top: 0;
}

/* content */

.content {
  -webkit-border-radius: .25rem;
  overflow-x: auto;
  min-height: 0;
}

.content tr[id]:nth-child(even) {
  background-color: rgba(0, 0, 0, .05);
}

@media only screen and (min-width: 768px) {
  .menu {
    display: inline-block;
    width: 20% !important;
  }
  .menu li {
    margin: 0;
  }
  .menu ul {
    padding-left: 5px;
  }
  .content {
    display: inline-block;
    width: calc(80% - 52px) !important;
    vertical-align: top;
  }
  .login {
    display: inline-block;
    width: calc(80% - 52px) !important;
    vertical-align: top;
    transform: translateX(calc((100%+52px)*-.25)) translateX(-35px);
  }
}

@media only screen and (min-width: 1024px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
}
